# AMBIENTE: PRODUCTION (PROD) - PLANTILLA
BASE_URL=https://www.saucedemo.com
BROWSER=chromium
HEADLESS=true
DEFAULT_TIMEOUT=15000
SLOW_MO=0
RECORD_VIDEO=off
TRACE=retain-on-failure

# En producción, estas variables se inyectan como Secretos de CI/CD o bóvedas de claves
SAUCE_STANDARD_USER=
SAUCE_LOCKED_USER=
SAUCE_PROBLEM_USER=
SAUCE_PERFORMANCE_USER=
SAUCE_PASSWORD=
